.inStorageApplyGrid 
.x-fa {
    height: 23px;
    width: 28px;
    font-size:23px;

    &.fa-image{
        background-color: $inStorageApplyGrid-GraphTraceButton-color;
        color: $lightest-color;
    }


}




